@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  transition: 0.3s all;
}
body {
  background-color: rgba(0, 0, 0, 0.064);
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background-color: #fff;
}
body::-webkit-scrollbar-thumb {
  background-color: #263138;
  border-radius: 15px;
}
.dark {
  background-color: black;
}
.dark2 {
  color: #fff;
}
.dark3 {
  background-color: #445964;
}
.light3 {
  background-color: #fff;
}
